.input{
    border: 3px solid blue;
    border-radius: 8px;
    background-color: #fff;width: 300px;
}
.checkbox{
    border: 5px solid blue;
    background-color: #fff;
}
#div1{
    margin-top: 100px;
}
#div2{
    margin-top: 100px;
    
}
#select{
    background-color: #fff;
    width: auto;
}

#div5{
    border: 3px solid blue;
    border-radius: 15px;
    background-color: #fff;
    margin-top: 80px;
    margin-left: 250px;
    width: 600px;
}

#select{
border: 1px solid black;
width: 200px;

 

}
    #container{
    height: 650px;
    }
#btn{
    background-color: dimgrey;
    margin-left: 80px;
    margin-bottom: 3px;
}
#lable{
    color: #000;
    padding: 8px;
}
.date{
    padding: 8px;
    margin-top: 20px;
    
}
.col3{
    margin-top: 80px;
    margin-left: 150px;
}
#div4{
    margin-top: 10px;
}
#div5{}